* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ff5160;
}

body {
  background-color: #f2f3f8;
}

.signup {
  border: none;
  width: 994px;
  height: 85vh;
  margin: 60px auto;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.02);
}

.form-heading {
  color: var(--primary-color);
  font-size: 25px;
  font-weight: 800;
  padding-bottom: 34px;
}

.form-container {
  margin-top: 40px;
  margin-left: 82px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form p:first-child {
  padding-top: 0;
}

.signup-form p {
  padding-top: 25px;
  font-size: 15px;
  color: #756bac;
}

input {
  margin-top: 10px;
  width: 300px;
  height: 45px;
  border: #f2f3f8 solid 2px;
  border-radius: 5px;
  background-color: #f6f7fa;
}

.signup-form > input::-webkit-input-placeholder {
  padding-left: 20px;
  font-size: 12px;
  color: #d0d4e3;
}

input:focus {
  outline: none;
}

.btn-container {
  margin-top: 25px;
}

.btn-signup {
  width: 168px;
  height: 45px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: var(--primary-color);
  font-size: 15px;
  cursor: pointer;
}

.btn-signup:hover {
  color: yellow;
}

.btn-link {
  margin-left: 42px;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 15px;
}

.signup-content {
  display: flex;
}

.checkbox-form {
  display: flex;
  padding-top: 20px;
}

.form-checkbox {
  width: 25px;
  height: 25px;
  border: #756bac solid 1px;
}

.form-checkbox:not(:checked) ~ label {
  color: #d0d4e3;
  transition: all 0.3s;
}

.form-checkbox:checked ~ label {
  color: #756bac;
  transition: all 0.3s;
}

.form-checkbox:checked ~ label span {
  color: var(--primary-color);
  transition: all 0.3s;
}

label {
  margin-left: 20px;
}

.signup-img {
  margin-left: 60px;
}
